{% extends 'rang/base1.html' %}
{% load staticfiles %}

{% block title_block %}
    {{delegation.title}}
{% endblock %}

{% block body_block %}
    {% if delegation %}

        <strong><li>{{delegation.time_leave}}</li></strong>
        {% if delegation.Members %}
            <ul>
                {% for member in delegation.Members %}
                    <li>{{member.name}}</li>
                {% endfor %}
                {% for country in delegation.country %}
                    <li>{{country.name}}</li>
                {% endfor %}
            </ul>


    {% else %}
        The specified delegation does note exist!
    {% endif %}
{% endblock %}

