{% extends 'rang/base1.html' %}
{% load staticfiles %}

{% block title_block %}
    Person list
{% endblock %}

{% block body_block %}

<ul>
    {% if person %}

        {% for c in person %}
                <li>
                    <strong> {{c}} </strong>
                </li>
        {% endfor %}
        <li><a href="{% url 'Foreign_App:add_passport' person_sign %}"> person_sign </a></li>
    {% else %}
        <li> <strong>There are no information of this person.</strong></li>
    {% endif %}
</ul>

{% endblock %}