{% extends 'rang/base1.html' %}
{% load staticfiles %}

{% block title_block %}
    Person list
{% endblock %}

{% block body_block %}
    {% if Person_list %}
        <ul>
            {% for person in Person_list %}
                <li><a href="{{Person.url}}">{{person.sign}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>No passport currently belongs to this person.</strong>
    {% endif %}
        <a href="{% url 'rango:add_person' %}">Add a person</a>
{% endblock %}

