{% extends 'rang/base1.html' %}
{% load staticfiles %}

{% block title_block %}
    Person list
{% endblock %}

{% block body_block %}
    {% if Persons %}
        <ul>
            {% for person in Persons %}
                <li><a href="{% url 'Foreign_App:person_detail' person.sign %}">{{person.sign}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>No passport currently belongs to this person.</strong>
    {% endif %}
        <a href="{% url 'Foreign_App:add_person' %}">Add a person</a>
{% endblock %}

