{% extends 'rang/base1.html' %}
{% load staticfiles %}

{% block title_block %}
    {{passport.passport_number}}
{% endblock %}

{% block body_block %}
    {% if passport %}
        <h1>{{ passport.passport_number }}</h1>
            <h3>
               {% for iterm in passport %}
                {item}
            </h3>
        {% if passport %}
            <ul>
                {% for visa in visas %}
                    <li><a href="{%url 'Foreign_App:show_visa' visa.passport_number %}">{{passport.passport_number}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No passport currently belongs to this person.</strong>
        {% endif %}
        <a href="{% url 'rango:add_passport' person.sign %}">Add a Passport</a>
    {% else %}
        The specified person does note exist!
    {% endif %}
{% endblock %}

